<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="gsPath" value="C:\Program Files\gs\gs9.22\bin\gswin64c.exe"/>
    <add key="tesseractPath" value="C:\Program Files (x86)\Tesseract-OCR\tesseract.exe"/>
    <add key="sourceDir" value="s:\docs\repository\incoming"/>
    <add key="processedDir" value="s:\docs\repository\processed"/>
    <add key="outputDir" value="s:\docs\repository\organized"/>
    <add key="workingDir" value="s:\docs\repository\working"/>
  </appSettings>
</configuration>